<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piquet.mapper.InboundDetailMapper">
    
    <resultMap id="BaseResult" type="com.piquet.pojo.InboundDetail">
        <id column="id" property="id"/>
        <result column="summary_id" property="summaryId"/>
        <result column="goods_num" property="goodsNum"/>
        <result column="quantity" property="quantity"/>
        <result column="price" property="price"/>
        <result column="total" property="total"/>
        <result column="warehouse_num" property="warehouseNum"/>
        <result column="state" property="state"/>
        
        <association property="inboundSummary" javaType="com.piquet.pojo.InboundSummary">
            <id column="sid" property="id"/>
            <result column="inbound_num" property="inboundNum"/>
            <result column="supplier_name" property="supplierName"/>
            <result column="operator" property="operator"/>
            <result column="added_time" property="addedTime"/>
            <result column="update_time" property="updateTime"/>
            <result column="remarks" property="remarks"/>
        </association>

    </resultMap>

    <select id="list" resultMap="BaseResult">
        SELECT
            d.id,
            d.summary_id,
            d.goods_num,
            d.quantity,
            d.price,
            d.total,
            d.warehouse_num,
            d.state,
            s.id sid,
            s.inbound_num,
            s.supplier_name,
            s.operator,
            s.added_time,
            s.update_time,
            s.remarks
        FROM
            t_inbound_detail d
        LEFT JOIN
            t_inbound_summary s
        ON
            d.summary_id = s.id
        <where>
            <if test="inboundNum != null">
                s.inbound_num LIKE '%' #{inboundNum} '%'
            </if>
            <if test="supplierName != null">
                AND s.supplier_name LIKE '%' #{supplierName} '%'
            </if>
        </where>
    </select>
</mapper>
