<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piquet.mapper.LogisticsMapper">
    <!-- 动态sql -->
    <select id="list" resultType="com.piquet.pojo.Logistics">
        SELECT * FROM t_logistics
        <where>
            <if test="logisticsName != null">
                logistics_name LIKE '%' #{logisticsName} '%'
            </if>
            <if test="state != null">
                AND state = #{state}
            </if>
        </where>
        ORDER BY id
    </select>
</mapper>
